/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    position: relative;
    padding: $block-module-padding;
    background: transparent;
    .#{$block-heading-selector}{
        font-size: 18px;
        margin:0 0 15px;
        @media(min-width: 1200px){
           margin:0 0 25px; 
        }
        .urgent,
        .featured{
            font-size: 12px;
        }
    }
}
// Sidebar
.sidebar,
.#{$app-prefix}-sidebar {
    .widget{
        margin: 0 0 30px;
        padding: $theme-margin / 2;
        @media(min-width: 1200px){
            padding: $theme-margin;
        }
        background:#fff;    
        border:1px solid $border-color;
        @include border-radius(6px);
        &#calendar_wrap{
            padding:0;
        }
        &.widget_job_filter_widget,
        &.widget_employer_filter_widget,
        &.widget_candidate_filter_widget{
          padding:0;
          border:0;
        }
        &.widget_tag_cloud{
           padding-bottom:15px; 
        }
        &.widget_apus_candidate_info,
        &.widget_apus_candidate_contact_info,
        &.widget_apus_employer_maps{
            padding:0;
            overflow:hidden;
            .candidate_profile,
            .candidate-detail-location,
            .employer-detail-location{
                padding:25px 30px;
            }
        }
        &.widget_apus_candidate_contact_info,
        &.widget_apus_employer_maps{
            .job_maps_sidebar{
                padding: 0 30px 25px;
            }
        }
    }
    .widget_calendar{
        .calendar_wrap{
            overflow-x:auto;
        }
    }
    // widet porducts list
    .apus-products-list{
        border-style: solid;
        border-color: $border-color;
        border-width:0 1px 1px;
        .product-block{
            padding: 20px;
            margin: 0;
        }
    }
    // widget instagram
    .row.instagram-pics{
        margin-left: -6px;
        margin-right: -6px;
        > [class*="col-md"]{
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 12px;
        }
    }
    // widget single images
    .widget_apus_single_image{
        margin-bottom: 30px;
    }
}
.page-shop{
    .sidebar,
    .#{$app-prefix}-sidebar {
        .widget{
            .#{$block-heading-selector}{
                font-size: 15px;
                margin: 0 0 20px;
                font-weight: 600;
                text-transform:uppercase;
                letter-spacing:1px;
            }
        }
    }
}
// header
.apus-header{
  // widget search
    .widget-search{
        background-color: transparent;
        .input-group{
            border-color: #f7f7f7;
            background-color: #f7f7f7;
            @include border-radius(50px);
        }
        .apus-search{
            @media(min-width: 1500px){
                min-width: 280px;
            }
            background-color: #f7f7f7;
        }  
    }
}
// footer 
.apus-footer{
    .widget{
        .widget-title{
            font-size: 18px;
            margin:0 0 10px;
            @media(min-width: 1200px){
               margin:0 0 20px; 
            }
        }
    }
}